error_log /dev/stdout info;

events {
    worker_connections 1024;
}

http {
    include mime.types;

    access_log /dev/stdout;
    default_type application/octet-stream;
    sendfile on;

    server {
        listen 80 default;
        root /var/www;
        index index.php index.html;

        location ~ /\. {
            deny all;
            access_log off;
            log_not_found off;
        }

        location ~ \.php$ {
            include fastcgi_params;

            try_files $uri =404;
            fastcgi_pass 127.0.0.1:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }
    }
}